.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 35px 0 30px 0;
  font-size: 20px;

  &__title {
    font-weight: 400;
    margin: 0;
  }

  &__currencies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 7px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &__label:hover {
    cursor: pointer;
  }

  &__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 2px;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    display: -ms-grid;
    display: grid;
    place-content: center;

    &:hover {
      cursor: pointer;
    }

    &::before {
      content: '';
      width: 9px;
      height: 9px;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: 120ms -webkit-transform ease-in-out;
      transition: 120ms -webkit-transform ease-in-out;
      -o-transition: 120ms transform ease-in-out;
      transition: 120ms transform ease-in-out;
      transition:
        120ms transform ease-in-out,
        120ms -webkit-transform ease-in-out;
      -webkit-box-shadow: inset 1em 1em #654d24;
      box-shadow: inset 1em 1em #654d24;
    }

    &:checked::before {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }

  &__dates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 7px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &__date {
    border: 1px solid black;
    border-radius: 5px;
  }
}
